<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="SqlServerCe3.1" />
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="DataProvider" value="Gimnastika.Data.NHibernate"/>
    <add key="DataProviderFactory" value="Gimnastika.Data.NHibernate.DataProviderFactory"/>
    <add key="ItemsPerPage" value="20000" />
  </appSettings>
</configuration>